<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jd.jarvisdemonim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NimActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestBgaActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestPageActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestExpandActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestStickyActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTextActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestMvcActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestMvcActivityNet" />
        <activity android:name=".ui.testadapteractivity.NormalTestTabReminderActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTextCarlendarActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestBottomNavigationActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestIndexStickyActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestToolbarActivity" />
        <activity android:name="com.jd.jdkit.permissionkit.PermissionsActivity" />
        <activity android:name=".ui.testadapteractivity.NormalTestCalendarAdapterActivity"/>
    </application>

</manifest>